body{
	margin:0;
	padding:0;
	background-color:#FAFAFA;
}
.header{
	background-color: blue;
}
.phone{
	font-size: 0.5rem;
    padding: 0.3rem;
}
.register{
	word-spacing: -0.45rem;
    float: right;
}
.enter {
	font-size: 0.5rem;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding:0.3rem;
}
.enter:hover{
	background-color: #FFF;
}
.registered{
	font-size: 0.5rem;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding:0.3rem;	
}
.registered:hover{
	background-color: #FFF;
}
.options{
	float:right;
	padding: 2rem;
}
.erbi{
    margin-left: 4rem;
    padding: 0.5rem;
    background-color:#FFF;
}
.erbi:hover{
	background-color: blue;
}
.navbar-nav{
	text-align:center;
}
@media screen and (max-width: 768px) {
    .options{
    display:none;
}
    }
@media screen and (min-width: 768px) {    
.navbar-default{
	display: none;
 	}
}
@media screen and (min-width: 768px) {
	.navbar-default .navbar-brand{
	display: none;
	}
}
.process{
    width: 25%;
    height: 1rem;
    background-color: orange;
    float:right;
}
.process p{
    position: relative;
    top: -1rem;
    left: 5rem;
    width: 2.6rem;
    line-height: 2.6rem;
    font-size: 1.8rem;
    color: white;
    background: #ffa500;
    border-radius: 50%;
    text-align: center;
}
















.fenjia{
    display: inline-block;
    float: right;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-right:0.5rem;
    padding-left:0.5rem;
}
@media screen and (max-width: 768px) {
    .fenjia{
	float: none;
    width: 100%;
    text-align: center;
    }
}
.right-bottom{
	padding-top:0.5rem;
}
.packaging{
    padding: 2rem;
    font-size: 1.7rem;
    padding-bottom: 7.4rem;
    text-align: center;
}
/*底部*/
.footer{
    background-color: #F2F2F2;
}
.concern{
	padding:2rem;
	text-align: center;
}
.icp{
	text-align: center;
	background-color: blue;
	padding: 0.5rem;
}
/*主题*/
.bottom{
	padding-bottom: 2.2rem;
}
.bottom span{
	padding-right:0.5rem;
	padding-left: 0.5rem;
}
@media screen and (max-width: 768px) {
.col-xs-8{
	width:69%;
    }
}
.custom{
	border-left: 0.4rem solid red;
    padding: 0.4rem;
}
.model{
	padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:#F2F2F2; 
}
.box{
	width: 7rem;
}
.radio{
	display:inline-block;
}
.regular-radio{
	display:none;
}
.single{
	display: inline-block;
	vertical-align: middle;
    height: 1.8rem;
    width: 1.8rem;
    background-color: #f8f9fb;
    border: 0.1rem solid #1d7ad9;
    border-radius: 50%;
    content: "";
}
.regular-radio:checked + .single:after{
	display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    background-color: #f8f9fb;
    border: 0.7rem solid #1d7ad9;
    border-radius: 50%;
    content: "";
}
.Suit-cases{
	float: left;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.xuanze{
    margin-top: 10px;
    margin-bottom: 10px;
    float:right;
    background-image: url(images/sanjiao.png);
    background-position: 4.9rem;
    padding-right: 2.2rem;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}
@media screen and (max-width: 768px) {
.xuanze{
    float:none;
    }
}
@media screen and (max-width: 768px) {
.col-xs-1-2{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    }
}
/*确定尺寸*/
.measure{
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #F2F2F2;
}
.long,.wide,.high{
    margin-top:10px;
    margin-bottom:10px;
}
.input-box{
        width: 50%;
}
.xuanze2{
    margin-top: 4rem;
    margin-bottom: 1rem;
    float: right;
    background-image: url(images/sanjiao.png);
    background-position: 4.9rem;
    padding-right: 2.2rem;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}
@media screen and (max-width: 768px) {
.xuanze2{
    display: none;
    }
}
.xuanze3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: right;
    background-image: url(images/sanjiao.png);
    background-position: 4.9rem;
    padding-right: 2.2rem;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}
@media screen and (min-width: 769px) {
.xuanze3{
    display: none;
    }
}
@media screen and (max-width: 769px) {
.xuanze3{
    float: none;
    }
}
/*选择材质*/
.texture{
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #F2F2F2;
}
.xuanze4{
    margin-top: 10px;
    margin-bottom: 10px;
    float:right;
    background-image: url(images/sanjiao.png);
    background-position: 4.9rem;
    padding-right: 2.2rem;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}
@media screen and (max-width: 991px) {
.xuanze4{
    float: none;
    }
}
/*下一步*/
.next-step{
    line-height: 5rem;
    width: 14rem;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
.next-step{
    line-height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    }
}