@charset"utf-8";
@c1:#69d1e9;
@c2:orange;
@zero:0;
@px:10px;
@bai:1%;
@rem:1rem;
@vw:1vw;
.pos(f){
    position:fixed;
}
.flo(l){
    float:left;
}
.flo(r){
    float:right;
}
body{
    margin:@zero auto;
    padding:@zero;
    font-size:@bai * 625;
    max-width:@px + 758;
}
.header{
    width:@bai + 99;
    height:@rem + 4;
    background-color:@c1;
    img{
        .flo(l);
        margin:@px + 9;
        width:@rem + 0.5;
    }
}
.main{
    .mate{
        padding:@px;
        text-align:center;
        font-size:@rem + 1;
        border-bottom:@px - 9 solid;
    }
    .main-left{
        .flo(l);
        margin:@rem + 1 0 0 @bai + 2;
        padding-bottom: @rem + 8;
        font-size:@rem + 0.5;
        width:@bai + 46;
        border-bottom: @px - 9 solid; 
        .killer{
            .flo(l);
            margin:@rem - 1.54 @rem 0 @bai + 7; 
            width:@rem + 2;
            height:@rem + 2;
            border-radius:@bai + 49;
            font-size:@rem + 0.5;
            background-image:url(images/sanwa.png);
            background-size:@rem + 2;
        }
    }
    .main-right{
        .flo(l);
        margin:@rem + 1 @bai + 2 0 0;
        padding-bottom: @rem + 8;
        font-size:@rem + 0.5;
        width:@bai + 46;
        border-bottom: @px - 9 solid; 
        .waterPeople{
            .flo(l);
            margin:@rem - 1.54 @rem 0 @bai + 7; 
            width:@rem + 2;
            height:@rem + 2;
            border-radius:@bai + 49;
            background-image:url(images/siwa.png);
            background-size:@rem + 2;
        }  
    }
}
.amount{
    margin-top:@rem + 12.5;
    line-height:@rem + 11;
    text-align: center;
    font-size:@rem;
    height:@rem + 10;
    input{
        width:@rem + 1;
    }
}
.footer{
    text-align:center;
    button{
        font-size:@rem + 1;
        width:@bai + 93;
    }
}